/* header */
$bodyBackground:#f3f3f3;
$imgWidth: 100%;
$imgHeight: 220px;
$ahrefColor: #e74c3c !important;
$outlineNone: none;
$textAlignCenter: center;
$headerBackgroundColor: #2c3e50;
$headerHeight: 90px;
$headerPadding: 30px;
$headerColor: white;
$headerMarginBottom: 2rem;
$titleFontSize: 1.5em;

/* buttons */
$buttonsBorder: solid 2px #e74c3c;
$buttonsBackground: transparent;
$buttonsPadding: 0.4rem 0.6rem;
$buttonsMargin: 0 0.2rem;
$buttonsBorderRadius: 1px;
$buttonsFontSize: 0.8rem;
$bnsformUppercase: uppercase;
$buttonsFontWeight: 500;
$buttonsMarginLeft: 0.7rem;

/* recipe box */
$recipeBoxBackground: #fff;
$recipeBoxPaddingBottom: 2rem;
$fivePX: 5px;
$recipeBoxBoxShadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
$textAlignLeft: left;
$overflowHidden: hidden;
$marginLeft15PX: 15px;

/* recipe title */
$recipeTitleColor: #e74c3c;
$recipeTitlefontSize1Rem: 1.1rem;
$recipeTitlePadding: 1.8rem 0 0.2rem 0;
$recipeTitleFontWeight: 600;
$recipeTitleFontSize08Rem: 0.8rem;
$recipeTitleLetterSpacing: 2px;
$recipeTitleTextTransformNone: none;
$recipeTitlefontWeight400: 400;
$onePX: 1px;

/* form */
$formBackgroundTrans: transparent;
$formBorder: 0;
$formBorderBottom: solid 2px #2c3e50;
$margin10PX: 10px;
$formLetterSpacing: 2px;
$formWidth: 10%;
$formPadding: 0.4rem;
$formBorderSolid: solid 2px #e74c3c;
$formPadding02Rem: 0.2rem 0.9rem;
$formMargin02Rem: 0 0.2rem;
$borderRadius1PX: 1px;
$oneRem: 1rem;
$fontWeight500: 500;
$formMarginLeft: 0.7rem;
$formWebkitBoxShadow: 0 0 0 30px #f3f3f3 inset;
$formWebkitTextFillColor: #2c3e50 !important;

/* recipe.js */
$recipeMargin: 0 auto;
$recipeWidth: 60%;
$recipeHeight: 500px !important;
$letterSpacing2PX: 2px;
$recipeMargin1Rem: 1rem 0;
$recipeFontSize: 1.2rem;
$recipeFontWeight300: 300;
$textTransformLow: lowercase;
$fontWeight300: 300;
$letterSpacing2PX: 2px;
$recipeColor: #e74c3c;
$recipeBorder: solid 2px #e74c3c;
$recipeBackground: transparent;
$recipePadding: 0.2rem 0.9rem;
$recipeMargin002Rem: 0 0.2rem;